/* written by Tsitso Mafantiri */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.header {
  background-color: #e06363;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.header a.active {
  background-color: #e06363;
} 

.content {
  padding: 20px;
}

h1 {
  text-align: center;
}
